<div>
    <h2 id="page-heading">
        <span jhiTranslate="coursegradeApp.courseNote.home.title">Course Notes</span>
        <button id="jh-create-entity" class="btn btn-primary float-right jh-create-entity create-course-note" [routerLink]="['/course-note/new']">
            <fa-icon [icon]="'plus'"></fa-icon>
            <span  jhiTranslate="coursegradeApp.courseNote.home.createLabel">
            Create a new Course Note
            </span>
        </button>
    </h2>
    <jhi-alert></jhi-alert>
    <br/>
    <div class="alert alert-warning" *ngIf="courseNotes?.length === 0">
        <span jhiTranslate="coursegradeApp.courseNote.home.notFound">No courseNotes found</span>
    </div>
    <div class="table-responsive" *ngIf="courseNotes?.length > 0">
        <table class="table table-striped">
            <thead>
            <tr jhiSort [(predicate)]="predicate" [(ascending)]="reverse" [callback]="transition.bind(this)">
            <th jhiSortBy="id"><span jhiTranslate="global.field.id">ID</span> <fa-icon [icon]="'sort'"></fa-icon></th>
            <th jhiSortBy="noteType"><span jhiTranslate="coursegradeApp.courseNote.noteType">Note Type</span> <fa-icon [icon]="'sort'"></fa-icon></th>
            <th jhiSortBy="noteMemo"><span jhiTranslate="coursegradeApp.courseNote.noteMemo">Note Memo</span> <fa-icon [icon]="'sort'"></fa-icon></th>
            <th jhiSortBy="noteTime"><span jhiTranslate="coursegradeApp.courseNote.noteTime">Note Time</span> <fa-icon [icon]="'sort'"></fa-icon></th>
            <th jhiSortBy="publishUser"><span jhiTranslate="coursegradeApp.courseNote.publishUser">Publish User</span> <fa-icon [icon]="'sort'"></fa-icon></th>
            <th jhiSortBy="course.id"><span jhiTranslate="coursegradeApp.courseNote.course">Course</span> <fa-icon [icon]="'sort'"></fa-icon></th>
            <th jhiSortBy="plan.id"><span jhiTranslate="coursegradeApp.courseNote.plan">Plan</span> <fa-icon [icon]="'sort'"></fa-icon></th>
            <th jhiSortBy="homework.id"><span jhiTranslate="coursegradeApp.courseNote.homework">Homework</span> <fa-icon [icon]="'sort'"></fa-icon></th>
            <th jhiSortBy="parentNote.id"><span jhiTranslate="coursegradeApp.courseNote.parentNote">Parent Note</span> <fa-icon [icon]="'sort'"></fa-icon></th>
            <th></th>
            </tr>
            </thead>
            <tbody>
            <tr *ngFor="let courseNote of courseNotes ;trackBy: trackId">
                <td><a [routerLink]="['/course-note', courseNote.id, 'view' ]">{{courseNote.id}}</a></td>
                <td>{{courseNote.noteType}}</td>
                <td>{{courseNote.noteMemo}}</td>
                <td>{{courseNote.noteTime | date:'medium'}}</td>
                <td>{{courseNote.publishUser}}</td>
                <td>
                    <div *ngIf="courseNote.course">
                        <a [routerLink]="['/course-info', courseNote.course?.id, 'view' ]" >{{courseNote.course?.id}}</a>
                    </div>
                </td>
                <td>
                    <div *ngIf="courseNote.plan">
                        <a [routerLink]="['/course-plan', courseNote.plan?.id, 'view' ]" >{{courseNote.plan?.id}}</a>
                    </div>
                </td>
                <td>
                    <div *ngIf="courseNote.homework">
                        <a [routerLink]="['/course-homework', courseNote.homework?.id, 'view' ]" >{{courseNote.homework?.id}}</a>
                    </div>
                </td>
                <td>
                    <div *ngIf="courseNote.parentNote">
                        <a [routerLink]="['/course-note', courseNote.parentNote?.id, 'view' ]" >{{courseNote.parentNote?.id}}</a>
                    </div>
                </td>
                <td class="text-right">
                    <div class="btn-group">
                        <button type="submit"
                                [routerLink]="['/course-note', courseNote.id, 'view' ]"
                                class="btn btn-info btn-sm">
                            <fa-icon [icon]="'eye'"></fa-icon>
                            <span class="d-none d-md-inline" jhiTranslate="entity.action.view">View</span>
                        </button>
                        <button type="submit"
                                [routerLink]="['/course-note', courseNote.id, 'edit']"
                                class="btn btn-primary btn-sm">
                            <fa-icon [icon]="'pencil-alt'"></fa-icon>
                            <span class="d-none d-md-inline" jhiTranslate="entity.action.edit">Edit</span>
                        </button>
                        <button type="submit"
                                [routerLink]="['/course-note', { outlets: { popup: courseNote.id + '/delete'} }]"
                                replaceUrl="true"
                                queryParamsHandling="merge"
                                class="btn btn-danger btn-sm">
                            <fa-icon [icon]="'times'"></fa-icon>
                            <span class="d-none d-md-inline" jhiTranslate="entity.action.delete">Delete</span>
                        </button>
                    </div>
                </td>
            </tr>
            </tbody>
        </table>
    </div>
    <div [hidden]="courseNotes?.length === 0">
        <div class="row justify-content-center">
            <jhi-item-count [page]="page" [total]="totalItems" [maxSize]="5" [itemsPerPage]="itemsPerPage"></jhi-item-count>
        </div>
        <div class="row justify-content-center">
            <ngb-pagination [collectionSize]="totalItems" [(page)]="page" [pageSize]="itemsPerPage" [maxSize]="5" [rotate]="true" [boundaryLinks]="true" (pageChange)="loadPage(page)"></ngb-pagination>
        </div>
    </div>
</div>
