<div>
    <h2 id="page-heading">
        <span jhiTranslate="coursegradeApp.studentHomework.home.title">Student Homeworks</span>
        <button id="jh-create-entity" class="btn btn-primary float-right jh-create-entity create-student-homework" [routerLink]="['/student-homework/new']">
            <fa-icon [icon]="'plus'"></fa-icon>
            <span  jhiTranslate="coursegradeApp.studentHomework.home.createLabel">
            Create a new Student Homework
            </span>
        </button>
    </h2>
    <jhi-alert></jhi-alert>
    <br/>
    <div class="alert alert-warning" *ngIf="studentHomeworks?.length === 0">
        <span jhiTranslate="coursegradeApp.studentHomework.home.notFound">No studentHomeworks found</span>
    </div>
    <div class="table-responsive" *ngIf="studentHomeworks?.length > 0">
        <table class="table table-striped">
            <thead>
            <tr jhiSort [(predicate)]="predicate" [(ascending)]="reverse" [callback]="transition.bind(this)">
            <th jhiSortBy="id"><span jhiTranslate="global.field.id">ID</span> <fa-icon [icon]="'sort'"></fa-icon></th>
            <th jhiSortBy="submitMemo"><span jhiTranslate="coursegradeApp.studentHomework.submitMemo">Submit Memo</span> <fa-icon [icon]="'sort'"></fa-icon></th>
            <th jhiSortBy="submitTime"><span jhiTranslate="coursegradeApp.studentHomework.submitTime">Submit Time</span> <fa-icon [icon]="'sort'"></fa-icon></th>
            <th jhiSortBy="readTime"><span jhiTranslate="coursegradeApp.studentHomework.readTime">Read Time</span> <fa-icon [icon]="'sort'"></fa-icon></th>
            <th jhiSortBy="grade"><span jhiTranslate="coursegradeApp.studentHomework.grade">Grade</span> <fa-icon [icon]="'sort'"></fa-icon></th>
            <th jhiSortBy="student"><span jhiTranslate="coursegradeApp.studentHomework.student">Student</span> <fa-icon [icon]="'sort'"></fa-icon></th>
            <th jhiSortBy="teacher"><span jhiTranslate="coursegradeApp.studentHomework.teacher">Teacher</span> <fa-icon [icon]="'sort'"></fa-icon></th>
            <th jhiSortBy="homework.id"><span jhiTranslate="coursegradeApp.studentHomework.homework">Homework</span> <fa-icon [icon]="'sort'"></fa-icon></th>
            <th></th>
            </tr>
            </thead>
            <tbody>
            <tr *ngFor="let studentHomework of studentHomeworks ;trackBy: trackId">
                <td><a [routerLink]="['/student-homework', studentHomework.id, 'view' ]">{{studentHomework.id}}</a></td>
                <td>{{studentHomework.submitMemo}}</td>
                <td>{{studentHomework.submitTime | date:'medium'}}</td>
                <td>{{studentHomework.readTime | date:'medium'}}</td>
                <td>{{studentHomework.grade}}</td>
                <td>{{studentHomework.student}}</td>
                <td>{{studentHomework.teacher}}</td>
                <td>
                    <div *ngIf="studentHomework.homework">
                        <a [routerLink]="['/course-homework', studentHomework.homework?.id, 'view' ]" >{{studentHomework.homework?.id}}</a>
                    </div>
                </td>
                <td class="text-right">
                    <div class="btn-group">
                        <button type="submit"
                                [routerLink]="['/student-homework', studentHomework.id, 'view' ]"
                                class="btn btn-info btn-sm">
                            <fa-icon [icon]="'eye'"></fa-icon>
                            <span class="d-none d-md-inline" jhiTranslate="entity.action.view">View</span>
                        </button>
                        <button type="submit"
                                [routerLink]="['/student-homework', studentHomework.id, 'edit']"
                                class="btn btn-primary btn-sm">
                            <fa-icon [icon]="'pencil-alt'"></fa-icon>
                            <span class="d-none d-md-inline" jhiTranslate="entity.action.edit">Edit</span>
                        </button>
                        <button type="submit"
                                [routerLink]="['/student-homework', { outlets: { popup: studentHomework.id + '/delete'} }]"
                                replaceUrl="true"
                                queryParamsHandling="merge"
                                class="btn btn-danger btn-sm">
                            <fa-icon [icon]="'times'"></fa-icon>
                            <span class="d-none d-md-inline" jhiTranslate="entity.action.delete">Delete</span>
                        </button>
                    </div>
                </td>
            </tr>
            </tbody>
        </table>
    </div>
    <div [hidden]="studentHomeworks?.length === 0">
        <div class="row justify-content-center">
            <jhi-item-count [page]="page" [total]="totalItems" [maxSize]="5" [itemsPerPage]="itemsPerPage"></jhi-item-count>
        </div>
        <div class="row justify-content-center">
            <ngb-pagination [collectionSize]="totalItems" [(page)]="page" [pageSize]="itemsPerPage" [maxSize]="5" [rotate]="true" [boundaryLinks]="true" (pageChange)="loadPage(page)"></ngb-pagination>
        </div>
    </div>
</div>
